<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <link href="/css/bootstrap.css" rel=stylesheet>
    <title>Charlas</title>
    <style>
      .error { border: 1px solid #B94A48 !important;}
    </style>
  </head>
  <body class=container>
    <header class=navbar>
      <div class=navbar-inner>
        <a class=brand href="/">Charlas</a>
        <ul class=nav>
          <li>
            <a href="/charlas/crear">Subí tu charla</a>
          </li>
        </ul>
      </div>
    </header>
    <%== content %>
  </body>
</html>
